<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:replace="~{layouts/main/index :: layout(~{::title}, ~{::div#signInPageId}, 
~{::script} )}">


<title>Sign in</title>

<body>

  <div id="signInPageId" class="container my-3 ">

    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6">

        <form class="text-center border border-light p-5 grey lighten-5 rounded" 
        th:action="@{/sign-in}" method="POST">

          <p class="h4 mb-4">Sign in</p>

          <input name="email" id="usernameFormInput" class="form-control mb-4" placeholder="E-mail" autocomplete="off">

          <input name="password" type="password" id="passwordFormInput" class="form-control mb-4"
            placeholder="Password" autocomplete="off">

          <div class="d-flex justify-content-around">
            <div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">
                  Remember me
                </label>
              </div>
            </div>
            <div>
              <a href="">Forgot password?</a>
            </div>
          </div>

          <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

          <p>Not a member?
            <a href="">Register</a>
          </p>

          <div th:if="${param.error}">
            Invalid username and password.
          </div>
          <div th:if="${param.logout}">
            You have been logged out.
          </div>

        </form>
      </div>
    </div>
  </div>

  <script></script>

</body>


</html>