<!DOCTYPE html>
<html lang="en" th:fragment="layout (title, content, script)"
  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:replace="${title}">Cybersecurity-forum</title>

  <link rel="icon" href="images/favicon.ico" type="image/ico" />
  <th:block th:replace="layouts/main/libraries-fragment :: header"></th:block>
</head>
<body>
  <th:block th:replace="layouts/main/header-navbar-fragment :: navbar"></th:block>

  <main>
    <div th:replace="${content}"></div>
  </main>

  <th:block th:replace="layouts/main/footer-fragment :: footer"></th:block>
  <script th:replace="${script}"></script>
</body>
</html>