<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<th:block th:fragment="header-common">
  <link rel="stylesheet" href="libs/mdbootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="libs/mdbootstrap/css/mdb.min.css">
  <link rel="stylesheet" href="libs/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="css/global.css">
</th:block>

<th:block th:fragment="footer-common">

</th:block>

<body>
  <th:block th:with="isDebug=${@environment.getProperty('spring.profiles.active')=='DEV'}">
    <th:block th:fragment="header">
      <th:block th:if="isDebug">
        <th:block th:replace="::header-common"></th:block>
        <script type="text/javascript" src="libs/turbolinks/dist/turbolinks.js"></script>
        <script defer type="text/javascript" src="libs/mdbootstrap/js/jquery.js"></script>
        <script defer type="text/javascript" src="libs/mdbootstrap/js/popper.js"></script>
        <script defer type="text/javascript" src="libs/vue/dist/vue.js"></script>
      </th:block>

      <th:block th:unless="isDebug">
        <th:block th:replace="::header-common"></th:block>
        <script type="text/javascript" src="libs/turbolinks/dist/turbolinks.js"></script>
        <script defer type="text/javascript" src="libs/mdbootstrap/js/jquery.min.js"></script>
        <script defer type="text/javascript" src="libs/mdbootstrap/js/popper.min.js"></script>
        <script defer type="text/javascript" src="libs/vue/dist/vue.min.js"></script>
      </th:block>
    </th:block>

    <th:block th:fragment="footer">
      <th:block th:if="isDebug">
        <th:block th:replace="::footer-common"></th:block>
        <script defer type="text/javascript" src="libs/mdbootstrap/js/bootstrap.js"></script>
        <script defer type="text/javascript" src="libs/mdbootstrap/js/mdb.js"></script>
      </th:block>

      <th:block th:unless="isDebug">
        <th:block th:replace="::footer-common"></th:block>
        <script defer type="text/javascript" src="libs/mdbootstrap/js/bootstrap.min.js"></script>
        <script defer type="text/javascript" src="libs/mdbootstrap/js/mdb.min.js"></script>
      </th:block>
    </th:block>


  </th:block>
</body>




</html>