<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
 
</head>
<body>

  <div th:fragment="jumbotron" class="card card-image mb-3 rgba-black-strong" 
    style="background-image: url(images/computer-handd.jpg); background-size: cover;
    background-repeat: no-repeat;">

    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">
  
        <h5 class="h5 text-white font-weight-bold"> Wellcome to cybersecurity forum.</h5>
        <h2 class="card-title h2 my-4 py-2 font-weight-bold">What Is Cybersecurity?</h2>
        <p class="mb-4 pb-2 px-md-5 mx-md-5 font-weight-bold">Cybersecurity is the practice of protecting systems,
           networks, and programs from digital attacks. These cyberattacks are usually aimed at
           accessing, changing, or destroying sensitive information; extorting money from users;
           or interrupting normal business processes.</p>
        <button type="button" class="btn btn-primary">See more</button>
  
      </div>
    </div>
  </div>
  
</body>
</html>