<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
 
</head>
<body>

  <div th:fragment="jumbotron" class="card card-image" >

    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">
  
        <h5 class="h5 text-white"> Wellcome to cybersecurity forum.</h5>
        <h2 class="card-title h2 my-4 py-2">What Is Cybersecurity?</h2>
        <p class="mb-4 pb-2 px-md-5 mx-md-5">Cybersecurity is the practice of protecting systems,
           networks, and programs from digital attacks. These cyberattacks are usually aimed at
           accessing, changing, or destroying sensitive information; extorting money from users;
           or interrupting normal business processes.</p>
        <a class="btn special-color"> See more </a>
  
      </div>
    </div>
  </div>
  
</body>
</html>